.body
{
    background-color: #16336d;
}
.main
{
   border: transparent;
   height: 945px;    
}
.logo
{
    margin-top: 20px;
}
#img-logo
{
    border-radius: 20px;
    margin-left: 90px;
}
.nav 
{
    display: flex;
    justify-content: flex-end; 
    margin-right: 80px;
    margin-top: -100px;
}
.nav ul a
{
    color: white;
    padding: 20px;
    text-decoration: none;
}
.nav ul a:hover
{
  color: #f89d34;
  border-bottom: 3px solid cyan;
}
#p
{
    color: white;
    font-size: 50px;
    margin-left: 90px;
}
.inner
{
  margin-top: -200px;
  margin-left: 1200px;
  max-width: 580px;
  border: transparent;
  padding: 20px;
  padding-bottom: 50px;
  
 
}
.name,.number,.email,.message
{
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  padding: 30px 5px;
  font-size: 15px;
}
.name
{
  color: white;
  width:350px;
}
.number
{
  color: white;
  width:350px;
}
.email
{
  color:white;
  width:450px;
}
.message
{
    color: white;
    min-width: 100%;
    max-width: 100%;
    
}
#btn1
{
    margin-top: 20px;
    background: none;
    border: 1px solid #f523ad;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.4s linear;
    cursor: pointer;
}
#btn1:hover
{
    background:#f523ad ;
    color: white;
}

#btn2
{
    margin-top: 20px;
    margin-top: 20px;
    background: none;
    border: 1px solid #f523ad;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.4s linear;
    cursor: pointer;
}
#btn2:hover
{
    background:#f523ad ;
    color: white;
}
.footer
{
  border: transparent;
  height: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  
  
  
}
.socialicons
{
   margin-left: 1600px;
}



